Super Nover Pop.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Super Nover Pop.xcodeproj/project.xcworkspace/xcuserdata/jrikard.xcuserdatad/UserInterfaceState.xcuserstate
Super Nover Pop.xcodeproj/xcuserdata/jrikard.xcuserdatad/xcschemes/Super Nover Pop.xcscheme
Super Nover Pop.xcodeproj/xcuserdata/jrikard.xcuserdatad/xcschemes/xcschememanagement.plist
